.ant-form-item-explain-error {
    font-size: 12px !important;
}

.ant-dropdown-menu-item {
    padding: 0 !important;

    .ant-btn {
        padding: 5px 7px;
        width: 100%;
        text-align: left;
        justify-content: flex-start;
    }
}

.c-t-c {
    text-align: center;
}

.c-row-mod-bot {
    margin-top: 30px;
}

.c-card-item {
    box-shadow: 4px 3px 13px -12px rgba(0, 0, 0, 0.5) !important;
    border: 1px solid #f5f5f5 !important;
    position: relative;

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.c-card-space {
    width: 100%;
}

.c-norm-title {
    margin: 0 !important;
}

.c-c-flex-inf {
    row-gap: 10px;
    column-gap: 14px;
    flex-wrap: wrap;
}

.c-table-mt-40 {
    margin-top: 40px;
}

.inactive-row {
    background-color: #ffd2d2 !important;
}

.reserved-row {
    background-color: #beccf142 !important;
}

.c-flex-filter {
    margin-top: 30px;
}

.c-flex-btns-feilter {
    margin-top: 20px;
}

.ant-menu-sub {
    background: transparent !important;
}

.c-d-mt-24 {
    margin-top: 24px;
}

.c-bg-wh-p {
    background: #fff;
    padding: 14px 24px;
    border-radius: 8px;
}

.picture-uploader {
    width: 100%;

    .ant-upload-select {
        width: 100% !important;
        height: auto !important;
        padding-bottom: 100%;
        position: relative;

        .ant-upload {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}


.ant-drawer-body {
    padding: 0 !important;
}

.ant-drawer-content {
    background: #001529 !important;
}

.ant-drawer .anticon-close {
    svg {
        color: #fff !important;
    }
}

.ant-drawer-header-title {
    .ant-drawer-close {
        margin-left: auto;
    }
}

.ant-btn {
    min-width: 32px;
}

.ant-alert {
    position: fixed;
    max-width: 500px;
    top: 40px;
    right: 40px;
    padding: 14px 14px !important;
    z-index: 10000;
}

.top-role-name {
    color: #fff;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);

    p {
        margin: 0;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    margin-bottom: 20px;
}

.wr-title-game-quant {
    font-size: 120px;
    text-align: center;
    font-weight: bold;
}

.wr-update {
    position: relative;
}

.ant-upload-list-item-container {
    width: 100% !important;
}

.ant-upload-list-item.ant-upload-list-item-done,
.ant-upload-list-item-thumbnail,
.ant-upload-list-item-image,
.ant-upload-list-item,
.ant-upload-list-item-container {
    height: auto !important;
}

.c-card-item {
    height: 100%;
}

.ant-upload-list-item-image {
    min-height: 140px;
}

.empty-cart {
    text-align: center;
    padding: 40px 10px;
    font-weight: 500;
}

.ant-input-number {
    width: 100%;
}

.hidden_сol {
    display: none;
}

.new_player {
    font-weight: 700;
    padding: 4px 8px;
    border: 2px solid orange;
    background: orange;
    border-radius: 6px;
}

@media(max-width: 991px) {
    .mob-btn-stan-none {
        .mob-btn-stan-none_span {
            display: none;
        }
    }

    .ant-alert {
        max-width: 360px;
    }

    .top-role-name {
        margin-left: 10px;
        margin-right: 10px;
    }

    .wr-title-game-quant {
        font-size: 70px;
    }
}